<launch>
  <arg name="package" value="occupancy_gridmap_server" />
  <arg name="package_dir" value="$(find occupancy_gridmap_server)" />

  <!-- Load ROS parameters -->
  <rosparam file="$(arg package_dir)/launch/config/params.yaml" command="load" subst_value="true" />

  <!-- Launch occupancy gridmap server -->
  <node pkg="$(arg package)" type="$(arg package)" name="$(arg package)"
    output="screen" />

</launch>