<launch>
  <arg name="package" value="occupancy_gridmap_server" />
  <arg name="package_dir" value="$(find occupancy_gridmap_server)" />

  <!-- Launch -->
  <include file="$(arg package_dir)/launch/map_server.launch" />

  <!-- Rviz -->
  <node pkg="rviz" type="rviz" name="$(arg package)_rviz"
    args="-d $(arg package_dir)/launch/rviz/$(arg package).rviz" />


</launch>