<launch>
  <arg name="package" value="wavefront_planner" />
  <arg name="package_dir" value="$(find wavefront_planner)" />

  <!-- Launch -->
  <include file="$(arg package_dir)/launch/$(arg package).launch" />

  <!-- Rviz -->
  <node pkg="rviz" type="rviz" name="$(arg package)_rviz"
    args="-d $(find wavefront_planner)/launch/rviz/$(arg package).rviz" />


</launch>