<launch>
  <arg name="package" value="wavefront_planner" />
  <arg name="package_dir" value="$(find wavefront_planner)" />

  <!-- ROS Parameters -->
  <rosparam file="$(find wavefront_planner)/config/params.yaml" command="load" subst_value="true" />

  <!-- Wavefront planner -->
  <node pkg="wavefront_planner" type="wavefront_planner_node" name="path_planner" output="screen" />

  <!-- Launch waypoint generator -->
  <!-- <node pkg="waypoint_generator" type="waypoint_generator_node" name="waypoint_generator"
    output="screen" /> -->
</launch>